@media print {
}
@media (orientation: landscape) {
}

@media (max-width: 320px) {
}

@media (max-width: 480px) {
}

@media (max-width: 767px) {
}

@media (min-width: 768px) {
}

@media (max-width: 991px) {
}

@media (min-width: 992px) {
}

@media (max-width: 1199px) {
}

@media (min-width: 1200px) {
}

/* burger ////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 767px) {
	body.lock {
		overflow: hidden;
	}
	.header__menu {
		position: relative;
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background-color: #000000c0;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}
	.header__menu.active {
		width: 60%;
		z-index: 2;
	}
	.header__burger {
		margin: 0px 20px;
		// background-color: red;
		position: relative;
		width: 50px;
		height: 40px;
		z-index: 3;
	}
	.header__burger span {
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 6px;
		left: 0;
		top: 50%;
		margin-top: -3px;
		transition: all 0.3s ease 0s;
		border-radius: 2px;
	}
	.header__burger::after,
	.header__burger::before {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 6px;
		left: 0;
		transition: all 0.3s ease 0s;
		border-radius: 2px;
	}
	.header__burger::after {
		bottom: 0;
	}
	.header__burger::before {
		top: 0;
	}
	.header__burger.active::before {
		transform: rotate(45deg);
		top: 50%;
		margin-top: -3px;
	}
	.header__burger.active::after {
		transform: rotate(-45deg);
		bottom: 50%;
		margin-bottom: -3px;
	}
	.header__burger.active span {
		transform: scale(0);
	}
}

/* burger ////////////////////////////////////////////////////////////////////////////////////// */
